.navbar-brand > i {
	color: #F7CA18 !important;
}

.olControlZoom {
	display: none;
}

.navbar {
	border: none !important;
}

.navbar-inverse {
	background-color: #444 !important;
}

.navbar-inverse a,
.navbar-inverse b,
.navbar-inverse div,
.navbar-inverse p,
.navbar-inverse span {
	color: #fff !important;
}

.navbar-inverse a:hover,
.navbar-inverse b:hover,
.navbar-inverse div:hover,
.navbar-inverse p:hover,
.navbar-inverse span:hover {
	color: #fff !important;
}

/**
 * Share Bar
 */
.fb-actions {
	list-style: none;
	padding: 0;
	display: block;
	text-align: center;
}

.fb-actions li {
	display: inline-block;
	width: 7.9em;
}

.fb-actions li a {
	text-decoration: none;
	color: #666;
	display: block;
	outline: 0;
}
