.navbar-brand > i {
	color: #F7CA18 !important;
}
.olControlZoom {
	display: none;
}

.navbar {
	border: none !important;
}

.navbar-inverse {
	background-color: #444 !important;
}

.navbar-inverse a,
.navbar-inverse span,
.navbar-inverse p,
.navbar-inverse div,
.navbar-inverse b {
	color: #fff;
}
